ul.menu,
    .menu li,
    .menu a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }


    ul.menu ul {
        position: absolute;
        display: none;
        box-shadow: 1px 1px 0px #333;
        background-color: rgb(28, 27, 27);
    }

    /*Nivel 1*/
    ul.menu {
        float: left;
        font-family: Verdana, sans-serif;
        font-size: 15px;
        border-radius: 5px;
        padding: 0 5px;
        
    }

    .menu li {
        float: left;
        width: auto;
        position: relative;
        
    }


    .menu li a {
        display: block;
        padding: 0 20px;
        line-height: 45px;
        height: 45px;
        float: left;
        transition: all 0.3s linear;
    }

    /*nivel 2*/
    .menu li:hover>ul.submenu1 {
        display: block;
        top: 45px;
        left: 0;
        padding: 5px;
        width: 200px;
        border-radius: 0 0 5px 5px;
    }

    .menu ul.submenu-1 a {
        width: 160px;
        padding: 0 20px;
        border-radius: 5px;
    }

    /*cores nivel1*/
    
    .menu a {
        color: white;
    }

    .menu li:hover>a {
        background: #999;
        color: #424242;
    }

    /*Cores nivel 2*/
    /*https://www.webcis.com.br/como-criar-um-menu-horizontal-drop-down-com-4-ate-niveis-utilizando-css.html*/

    /*body{
        background: url('imagens/caroback.jpg') center center no-repeat fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }*/

      .oferta {
        background-color: rgba(255, 0, 0, 0.538);
        padding: 5px 0 2px 10px;
        color: white;
       
      }

     body {
        background-color: #333;
        
        
     }

     /*Area de video*/
     .propaganda{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px; 
        
     }

     .propaganda video{
        border: white 2px solid;
        border-radius: 2em;
     }

     .selecionar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
     }

    

     .selecionar a{
      width: 15%;
      margin-right: 10px;
     }

     .selecionar div{
       width: 100%;
       margin: 10px;
       border: white 3px solid;
       border-radius: 2em;
       height: 300px;
     }

     .FoCarro{
       background: url("elementos/ExpCarro.jpg") no-repeat;
       background-size: 640px 360px;    
     }

     .FoMoto{
        background: url("elementos/ExpMoto.jpg") no-repeat;
        background-size: 640px 360px;
        background-position: 30% 50%; 
     }

     .FoSport{
        background: url("elementos/ExpSport.jpg") no-repeat;
       background-size: 640px 360px; 
     }

     .FoPesado{
        background: url("elementos/ExpPesado.jpg") no-repeat;
       background-size: 640px 360px; 
     }




